autopep8==1.5
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
chromedriver-autoinstaller==0.2.2
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
DataBaseManager==0.0.8
idna==2.10
Languages==1.0.0
lxml==4.6.2
pycodestyle==2.6.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
urllib3==1.26.2
webdriver-manager==3.3.0
