{% extends 'base.html' %}
{% block content %}


<div class="row">
    <h2 class="header">Valeeuuuuu :)</h2>
    <h5 class="header">As atualizações serão enviadas</h5>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://github.com/ORuan/covid-chatbot/blob/dev/.gitassets/corona-sucess.jpg?raw=true"
                alt="corona-sucess-photo">
        </div>

        <div class="card-stacked">
            <div class="card-content">
                <p>Obrigado pelo cadastro, fico feliz que queira saber sobre os
                    casos de COVID-19 da sua cidade, a informação é nossa melhor arma
                    nessa luta.<br /> Esse projeto não tem fins lucrativos e foi feito por um
                    adolescente ambicioso :)
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.instagram.com/ruan.pb/">Instagram</a>
                <a href="https://github.com/oruan">GitHub</a>
                <a href='https://br.freepik.com/vetores/fundo'>Créditos - Freepik</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}