{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m6 ">
        <div class="card teal darken-2" id='card-accepted'>
            <div class="card-content white-text">
                <span class="card-title">Valeeuuuuu</span>
                <p>Obrigado por ter se cadastrado, aproveite as atualizações</p>
            </div>
            <div class="card-action">
                <a href="https://www.instagram.com/ruan.pb/">Instagram</a>
                <a href="https://github.com/oruan">GitHub</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}