{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h3 style="text-align: center;">Cancelar Inscrição</h3>
    <form class="col s12" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="number">Número de WhatsApp</label>
                <input id="icon_prefix" type="text" name="telephoneNumber" class="validate">
                {% if form.errors or erros%}
                    <span class="helper-text" data-success="{{erros}}" data-error="{{ noexist }}" >ex: 5577998714634</span>
                {% else %}
                    <span class="helper-text" data-success="Correto">ex: 5577998714634</span>
                {% endif %}

            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Cancelar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock content %}