{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h3 style="text-align: center;">Cancelar Inscrição</h3>
    <form class="col s12" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="number">Número de WhatsApp</label>
                {{form.number}}
                {% if form.number %}
                <span class="helper-text">{{form.number.error}}</span>
                {% else %}
                <span class="helper-text">Certo</span>
                {% endif %}

            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Cancelar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock content %}