{% extends 'base.html' %}
{% block content %}
<div class="row">
    <form class="col s12" method="POST">
        <h3 style="text-align: center;">Cadastro</h3>
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <label for="number">Número de WhatsApp</label>
                {{ form.number }}
                <span class="helper-text" data-error="Errado" data-success="Correto">ex: 5577998714634</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.city }}
                <label>Cidade</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        let options = null
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });


</script>
{% endblock content %}