{% extends 'base.html' %}
{% block content %}
<div class="row">
    <form class="col s12" method="POST">
        <h3 style="text-align: center;">Cadastro</h3>
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="number">Número de WhatsApp</label>
                {{ form.number }}
                {% if form.number.error %}
                <span class="helper-text" data-error={{form.number.error}}>ex: 5577998714634</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.city }}
                <label>Cidade</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" id="register" type="submit" name="action">Cadastrar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        let options = null
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);

        document.querySelector('#number').addEventListener('keydown', validate)

    });

    function validate() {
        let number = document.querySelector('#number')
        const county = number.value.slice(0, 2)
        const ddd = number.value.slice(2, 4)
        const number_raw = number.value.slice(4, -1)
        const btn_register = document.querySelector('#register')

        if (county == '55') {
            if (ddd.length == 2) {
                if (number_raw.length == 8 || number_raw.length == 9) {
                    btn_register.className = 'btn .waves-effect .waves-light'
                } else {
                    btn_register.className = btn_register.className + " disabled"
                }
            } else {
                btn_register.className = btn_register.className + " disabled"
            }
        } else {
            btn_register.className = btn_register.className + " disabled"
        }
    }



</script>
{% endblock content %}